= content_for :flash_message do
  = render 'shared/project_limit'
.top-area
  %ul.nav-links
    = nav_link(page: [dashboard_projects_path, root_path]) do
      = link_to dashboard_projects_path, title: 'Home', class: 'shortcuts-activity', data: {placement: 'right'} do
        Your Projects
    = nav_link(page: starred_dashboard_projects_path) do
      = link_to starred_dashboard_projects_path, title: 'Starred Projects', data: {placement: 'right'} do
        Starred Projects
    = nav_link(page: [explore_root_path, trending_explore_projects_path, starred_explore_projects_path, explore_projects_path]) do
      = link_to explore_root_path, title: 'Explore', data: {placement: 'right'} do
        Explore Projects

  .nav-controls
    = form_tag request.original_url, method: :get, class: 'project-filter-form', id: 'project-filter-form' do |f|
      = search_field_tag :filter_projects, params[:filter_projects], placeholder: 'Filter by name...', class: 'project-filter-form-field form-control input-short projects-list-filter', spellcheck: false, id: 'project-filter-form-field', tabindex: "2"
    = render 'explore/projects/dropdown'
    - if current_user.can_create_project?
      = link_to new_project_path, class: 'btn btn-new' do
        = icon('plus')
        New Project
